:root {
  --accent-color: #29B384;
  --accent: #29B384;
  --blue: #1764C2;
  --linear: linear-gradient(233deg, rgb(22, 94, 191) -13.52%, rgb(41, 179, 132) 76.05%);
  --black: #082242;
  --gray-bright: #ACB7C5;
  --main-white: #F7F7F8;
  --white: #FFFFFF;
  --red: #DE5754;
  --gray: #40474F;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SFUIText";
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
  overflow-x: hidden;
  min-width: 100vw;
  background: #F7F7F8;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  overflow-x: clip;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.section {
  margin-top: 80px;
}
@media screen and (max-width: 1440px) {
  .section {
    margin-top: calc(50px + 30 * (100vw - 320px) / 1120);
  }
}

.section__background {
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
}
@media screen and (max-width: 1620px) {
  .section__background {
    padding-top: calc(20px + 35 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .section__background {
    padding-bottom: calc(20px + 35 * (100vw - 320px) / 1300);
  }
}
.section__background::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 54%;
  height: calc(100% + 100px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/background.jpg) top/cover no-repeat;
}
@media screen and (width < 660.01px) {
  .section__background::before {
    height: calc(100% + 44px);
    width: 100%;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "SFUIText";
  src: url(../fonts/SFUIText-Regular.woff2) format("woff2"), url(../fonts/SFUIText-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SFUIText";
  src: url(../fonts/SFUIText-Medium.woff2) format("woff2"), url(../fonts/SFUIText-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SFUIText";
  src: url(../fonts/SFUIText-Semibold.woff2) format("woff2"), url(../fonts/SFUIText-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid brown;
}

.section-title {
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .section-title {
    font-size: calc(18px + 14 * (100vw - 320px) / 880);
  }
}

.title-h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.title-h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.title-h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.title-h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.title-h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}

.title-h6 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .title-h6 {
    font-size: calc(16px + 8 * (100vw - 320px) / 880);
  }
}

.text2 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.logo__img-mobile {
  display: none;
}
@media screen and (width < 910.99px) {
  .logo__img-mobile {
    display: block;
    max-width: 1.9375rem;
    width: 100%;
  }
  .logo__img-desc {
    display: none;
  }
}

.header {
  background-color: var(--white);
}
.header__inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__logo {
  margin-right: 20px;
}
@media screen and (max-width: 1440px) {
  .header__logo {
    margin-right: calc(5px + 15 * (100vw - 320px) / 1120);
  }
}
.header__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
  justify-content: space-between;
}
.header__nav-link {
  padding: 1.75rem 0.625rem;
}
.header__lang {
  margin-left: 1.25rem;
}
.header__phone {
  margin-left: 1.25rem;
}
.header__search-btn {
  margin-left: 1.25rem;
}
.header__basket {
  margin-left: 1rem;
}
@media screen and (width < 825.99px) {
  .header__box {
    padding: 1.5625rem 0;
    flex-wrap: nowrap;
  }
  .header__inner {
    justify-content: space-evenly;
  }
  .header__lang {
    margin-left: 0rem;
  }
  .header__basket {
    margin-left: 0;
  }
  .header__phone {
    margin-left: 0rem;
  }
  .header__search-btn {
    margin-left: 0rem;
  }
  .header__basket {
    margin-left: 0rem;
  }
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.nav__spollers {
  position: relative;
}
.nav__linkbtn-inner {
  display: flex;
  align-items: center;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .nav__linkbtn-inner:hover .nav__linkbtn-link {
    color: var(--accent);
  }
  .nav__linkbtn-inner:hover .nav__linkbtn-arrow-svg {
    fill: var(--accent);
  }
}
.nav__link {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--accent);
  }
}
.nav__link--active {
  background-color: var(--accent);
  color: var(--white);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .nav__link--active:hover {
    color: var(--black);
  }
}
.nav__linkbtn-arrow {
  padding: 1.75rem 0.625rem 1.75rem 0rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .nav__linkbtn-arrow:hover .nav__linkbtn-arrow-svg {
    fill: var(--accent);
  }
}
.nav__linkbtn-arrow--active {
  background-color: var(--accent);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__linkbtn-arrow--active .nav__linkbtn-arrow-svg {
  fill: var(--white);
}
@media (any-hover: hover) {
  .nav__linkbtn-arrow--active:hover .nav__linkbtn-arrow-svg {
    fill: var(--black);
  }
}
.nav__linkbtn-arrow-svg {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__linkbtn-arrow.active .nav__linkbtn-arrow-svg {
  rotate: 180deg;
}
.nav__submenu-link-svg {
  width: 1.5rem;
  flex-shrink: 0;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__submenu-list {
  display: none;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__submenu-list.active {
  position: absolute;
  background-color: var(--white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  top: 3.75rem;
  width: 38.75rem;
  left: -0.625rem;
  padding: 1.25rem;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 1.875rem;
}
.nav__submenu-list.active::before {
  position: absolute;
  content: "";
  background-color: inherit;
  border: inherit;
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(136deg);
  border-radius: 0 0 0 0.15em;
  width: 1.375rem;
  height: 1.375rem;
  top: -0.625rem;
  left: 9.625rem;
}
.nav__submenu-item {
  width: 16rem;
}
.nav__submenu-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem;
  color: var(--black, #082242);
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .nav__submenu-link:hover {
    color: var(--accent);
  }
  .nav__submenu-link:hover .nav__submenu-link-svg {
    fill: var(--accent);
  }
}
.nav__submenu-link--align {
  align-items: start;
}
.nav__link-svg {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width < 1060.01px) {
  .nav__list {
    gap: 1.25rem;
  }
}
@media screen and (width < 825.01px) {
  .nav__list {
    position: absolute;
    width: 18.125rem;
    top: 3.75rem;
    right: 0.125rem;
    bottom: 0;
    border-radius: 0.3125rem;
    background: linear-gradient(155deg, #165EBF 50%, #29B384 67.73%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.25rem;
    transform: translateY(-150%);
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.9375rem;
    color: var(--white);
    z-index: 2;
  }
  .nav__list.menu-open {
    transform: translateY(0%);
  }
  .nav__link {
    padding: 0.625rem 0;
    font-weight: 700;
  }
  .nav__link--active {
    background-color: transparent;
    color: var(--white);
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (width < 825.01px) and (any-hover: hover) {
  .nav__link--active:hover {
    color: var(--accent);
  }
}
@media screen and (width < 825.01px) {
  .nav__linkbtn-arrow {
    padding: 0 0 0 0.3125rem;
  }
  .nav__linkbtn-arrow-svg {
    fill: var(--white);
  }
  .nav__submenu-list.active {
    width: 18.125rem;
    top: 3.125rem;
  }
  .nav__submenu-list.active::before {
    left: 9.1875rem;
  }
}

.lang {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.lang__link {
  color: var(--gray-bright, #ACB7C5);
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .lang__link:hover {
    color: var(--accent);
  }
}
.lang__link--active {
  color: var(--Black, #082242);
}

.phone {
  position: relative;
}
.phone__inner {
  display: flex;
  align-items: center;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone__link {
  display: flex;
  align-items: center;
  gap: 8px;
  gap: 0.5rem;
  font-variant: all-small-caps;
  font-size: 16px;
  color: var(--black);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 800px) {
  .phone__link {
    gap: calc(3px + 5 * (100vw - 320px) / 480);
  }
}
@media screen and (max-width: 1440px) {
  .phone__link {
    font-size: calc(14px + 2 * (100vw - 320px) / 1120);
  }
}
@media (any-hover: hover) {
  .phone__link:hover {
    color: var(--accent);
  }
  .phone__link:hover .phone__svg {
    fill: var(--accent);
  }
}
.phone__arrow:hover .phone__arrow-svg {
  fill: var(--accent);
}
.phone__arrow-svg {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone__arrow.active {
  rotate: 180deg;
}
.phone__list {
  display: none;
}
.phone__list.active {
  background: var(--white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  padding: 1.5625rem 2.0625rem 1.25rem 1.25rem;
  position: absolute;
  top: 2.1875rem;
  right: -0.625rem;
  z-index: 1;
  display: block;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone__list.active::before {
  content: "";
  position: absolute;
  top: -0.625rem;
  right: 0.4375rem;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: none;
  border-bottom: 10px solid var(--white);
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.14);
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.phone li:not(:last-child) {
  margin-bottom: 0.6875rem;
}
@media screen and (width < 480.01px) {
  .phone__svg {
    width: 24px;
  }
}
@media screen and (width < 480.01px) and (max-width: 480px) {
  .phone__svg {
    width: calc(18px + 6 * (100vw - 320px) / 160);
  }
}

.search {
  position: fixed;
  top: 5.625rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 6.875rem;
  border-radius: 0.3125rem;
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: right;
}
.search__close-btn {
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__close-btn:hover {
    color: var(--accent);
  }
}
.search__form {
  width: 590px;
  padding: 0.625rem;
}
@media screen and (max-width: 1198px) {
  .search__form {
    width: calc(290px + 300 * (100vw - 320px) / 878);
  }
}
.search__box {
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
}
.search__box .search__btn {
  margin-left: 0;
}
.search__input {
  width: 100%;
  padding: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border-top-left-radius: 0.3125rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid var(--gray-bright);
}
.search__input::-moz-placeholder {
  color: var(--black);
}
.search__input::placeholder {
  color: var(--black);
}
.search__btn {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__btn:hover .search__btn-svg {
    color: var(--accent);
  }
}
@media screen and (width < 1060.01px) {
  .search {
    order: -1;
  }
  .search__form {
    width: 590px;
  }
}
@media screen and (width < 1060.01px) and (max-width: 1198px) {
  .search__form {
    width: calc(290px + 300 * (100vw - 320px) / 878);
  }
}

.is-hidden {
  visibility: hidden;
  cursor: pointer;
}

.basket__icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.basket__icon-span {
  position: absolute;
  top: -0.4375rem;
  right: -0.3125rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: 50%;
  color: var(--white);
  font-size: 0.625rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__btn {
  display: none;
}
@media screen and (width < 825.01px) {
  .menu__btn {
    position: relative;
    display: inline-block;
    max-width: 1.125rem;
    width: 100%;
    height: 0.875rem;
    background: transparent;
    order: 1;
    border: none;
    padding: 0;
    z-index: 2;
    transition: 0.3s ease;
    gap: 0.3125rem;
    margin-left: 0.625rem;
  }
  .menu__btn:hover .menu__btn-line {
    background: var(--accent);
  }
  .menu__btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.125rem;
    border-radius: 0.125rem;
    background: var(--black);
    transition: 0.3s ease;
  }
  .menu__btn-line:nth-child(1) {
    top: 0rem;
  }
  .menu__btn-line:nth-child(2) {
    top: 0.375rem;
  }
  .menu__btn-line:nth-child(3) {
    top: 0.375rem;
  }
  .menu__btn-line:nth-child(4) {
    top: 0.75rem;
  }
  .menu-open .menu__btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .menu__btn-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-open .menu__btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-open .menu__btn-line:nth-child(4) {
    transform: scaleX(0);
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  background: url(../images/hero/d-hero@1x.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 5px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background: url(../images/hero/d-hero@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background: url(../images/hero/d-hero@1x.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem 0.9375rem;
}
.hero__content {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35.75rem;
}
.hero__title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  font-variant: small-caps;
  margin-bottom: 1.125rem;
}
.hero__text {
  margin-bottom: 1.875rem;
  font-weight: 600;
}
.hero__button {
  width: 16.25rem;
}
@media screen and (width < 825.01px) {
  .hero__inner {
    flex-direction: column;
    align-items: center;
  }
  .hero__content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

.partners__list {
  display: flex;
  flex-direction: column;
  width: 25.875rem;
}
.partners__item:nth-child(odd) {
  align-self: flex-end;
}
.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 207px;
  border-radius: 0.1875rem;
  background: rgba(152, 214, 185, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 825px) {
  .partners__link {
    width: calc(86px + 121 * (100vw - 320px) / 505);
  }
}
@media screen and (max-width: 825px) {
  .partners__link {
    height: calc(86px + 121 * (100vw - 320px) / 505);
  }
}
@media (any-hover: hover) {
  .partners__link:hover {
    background: rgba(62, 201, 136, 0.3);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
}
@media screen and (width < 825.01px) {
  .partners {
    width: 100%;
  }
  .partners__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }
}

.buttons {
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 0.8125rem 1.75rem;
  color: var(--white);
  background-color: var(--accent);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  border: 2px solid transparent;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1440px) {
  .buttons {
    font-size: calc(14px + 2 * (100vw - 320px) / 1120);
  }
}
@media (any-hover: hover) {
  .buttons:hover {
    color: var(--accent);
    background-color: var(--white);
    border-radius: 0.125rem;
    border: 2px solid var(--accent, #29B384);
  }
}

.buttons-more {
  color: var(--accent, #29B384);
  text-align: right;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .buttons-more {
    font-size: calc(14px + 2 * (100vw - 320px) / 880);
  }
}
@media (any-hover: hover) {
  .buttons-more:hover {
    text-decoration: underline;
  }
}
.buttons-more--disabled {
  color: var(--gray-bright);
}

.categories__title {
  margin-bottom: 2.5rem;
}
.categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.9375rem;
}
.categories__item {
  flex-basis: calc((100% - 30px) / 3);
  position: relative;
  overflow: hidden;
}
.categories__link-img {
  display: inline-block;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.87%, rgba(0, 0, 0, 0.7) 91.34%);
}
@media (any-hover: hover) {
  .categories__link-img:hover {
    opacity: 0.7;
    scale: 1.5;
  }
}
.categories__link {
  padding: 1.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--white);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .categories__link {
    font-size: calc(16px + 8 * (100vw - 320px) / 880);
  }
}
.categories__link::after {
  content: url(../images/icons/arrow-categories.svg);
  margin-left: 0.9375rem;
}
@media (any-hover: hover) {
  .categories__link:hover {
    text-decoration: underline;
  }
}
@media screen and (width < 825.01px) {
  .categories__item {
    flex-basis: calc((100% - 15px) / 2);
  }
}
@media screen and (width < 480.01px) {
  .categories__item {
    flex-basis: 100%;
  }
}

.popular__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.popular__link-more::after {
  content: url(../images/icons/arrow-more.svg);
  margin-left: 0.1875rem;
}
.popular__item {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .popular__item:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  }
}
.popular__slider-dotts {
  margin-top: 1.25rem;
}
.popular .swiper-pagination-bullet-active {
  background-color: var(--accent) !important;
}
.popular .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 1;
  background-color: var(--gray-bright);
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 1200px) {
  .popular .swiper-pagination-bullet {
    height: calc(10px + 5 * (100vw - 320px) / 880);
  }
}
@media screen and (max-width: 1200px) {
  .popular .swiper-pagination-bullet {
    width: calc(10px + 5 * (100vw - 320px) / 880);
  }
}
@media screen and (width < 1199.99px) {
  .popular__slider {
    width: 55.3125rem;
  }
}
@media screen and (width < 885px) {
  .popular__slider {
    width: 35.625rem;
  }
}
@media screen and (width < 600px) {
  .popular__slider {
    width: 16.875rem;
  }
}

.dotts {
  display: grid;
  grid-auto-flow: column;
  gap: 0.625rem;
  justify-content: center;
  overflow: hidden;
}

.products-card__list {
  display: flex;
  justify-content: space-between;
}
.products-card__item {
  border-radius: 2px;
  background: var(--white);
  width: 16.875rem;
}
.products-card__box {
  position: relative;
  width: 16.875rem;
  padding: 1rem;
}
.products-card__img-link {
  height: 8.125rem;
}
@media (any-hover: hover) {
  .products-card__img-link:hover .products-card__img {
    scale: 1.1;
  }
}
.products-card__img-link--sale::before {
  position: absolute;
  content: "-20%";
  padding: 0.3125rem 0.9375rem;
  color: var(--white);
  background-color: var(--red);
  top: 2.6875rem;
  left: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  z-index: 2;
}
.products-card__img-cover {
  overflow: hidden;
}
.products-card__img {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products-card__body {
  margin-top: 0.5rem;
}
.products-card__title-link {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .products-card__title-link:hover {
    color: var(--accent);
  }
}
.products-card__title {
  flex: 1 1 auto;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5.5rem;
}
.products-card__text {
  margin-top: 0.5rem;
  margin-bottom: 0.9375rem;
  color: var(--gray, #40474F);
  font-size: 0.875rem;
  flex: 1 1 auto;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5rem;
}
.products-card__price {
  display: inline-block;
  margin-right: 0.625rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
.products-card__price--sale {
  margin-right: 0.125rem;
  color: var(--red);
}
.products-card__sale {
  display: inline-block;
  margin-right: 0.125rem;
  text-decoration: line-through;
  color: var(--gray_bright, #ACB7C5);
  font-size: 0.75rem;
}
.products-card__discount {
  display: inline-block;
  color: var(--gray_bright, #ACB7C5);
  font-size: 0.75rem;
  line-height: 1.5;
}
.products-card__btn {
  margin-top: 1.4375rem;
  max-width: 14.875rem;
  width: 100%;
}

.about-us {
  background: var(--linear, linear-gradient(233deg, #165EBF -13.52%, #29B384 76.05%));
  padding: 5rem 0;
}
.about-us__content {
  position: relative;
  margin-bottom: 2.5rem;
  color: var(--white);
  display: flex;
  gap: 0.9375rem;
  justify-content: space-between;
}
.about-us__content::before {
  position: absolute;
  content: url(../images/logo/logo-aboutus.svg);
  width: 8.75rem;
  height: 7.6875rem;
  bottom: 0.8125rem;
  left: 0;
}
.about-us__title {
  color: var(--white);
  width: 23.125rem;
}
.about-us__text {
  width: 48.125rem;
}
@media screen and (width < 530.99px) {
  .about-us__content {
    flex-direction: column;
    text-align: center;
  }
  .about-us__title {
    width: 100%;
  }
  .about-us__text {
    width: 100%;
  }
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem 1.875rem;
}
.advantages__item {
  padding: 1.875rem 1.5rem;
  background-color: var(--white);
  width: 16.875rem;
  height: 12rem;
  border-radius: 0.125rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .advantages__item:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  }
}
.advantages__item-images {
  margin-bottom: 0.625rem;
}
@media screen and (width < 1040.99px) {
  .advantages__list {
    margin: 0 auto;
    width: 35.625rem;
    flex-wrap: wrap;
  }
}
@media screen and (width < 570.99px) {
  .advantages__list {
    width: 16.875rem;
  }
}

.gloves-advantages__content {
  display: grid;
  grid-template-columns: 35.625rem 35.625rem;
  gap: 1.875rem;
  align-items: center;
}
.gloves-advantages__title {
  margin-bottom: 0.625rem;
}
.gloves-advantages__text {
  color: var(--gray-bright, #ACB7C5);
  margin-bottom: 2.5rem;
}
.gloves-advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}
.gloves-advantages__item {
  width: 16.875rem;
  display: flex;
  gap: 1.25rem;
  align-items: flex-start;
}
.gloves-advantages__item-images {
  width: 3.125rem;
  height: 3.125rem;
}
.gloves-advantages__images {
  display: grid;
  grid-template-columns: 18.125rem 16.875rem;
  grid-template-rows: 12.1875rem 12.1875rem;
  gap: 0.625rem;
}
.gloves-advantages__images-item--height {
  grid-row-start: span 2;
}
.gloves-advantages picture {
  overflow: hidden;
}
.gloves-advantages__img {
  height: 100%;
}
@media screen and (width < 914.99px) {
  .gloves-advantages__content {
    grid-template-columns: 1fr;
  }
  .gloves-advantages__boxtitle {
    text-align: center;
  }
  .gloves-advantages__list {
    justify-content: center;
  }
  .gloves-advantages__images {
    margin: 0 auto;
  }
}
@media screen and (width < 584.99px) {
  .gloves-advantages__images {
    grid-template-columns: 18.125rem;
    justify-items: center;
  }
}

.promotion__text {
  margin-bottom: 1.875rem;
}

.newsletter {
  background: linear-gradient(to left, rgba(23, 100, 194, 0.7), rgba(41, 179, 132, 0.7)), url(../images/newsletter/newsletter-bg@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 0;
  color: var(--white);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .newsletter {
    background: linear-gradient(to left, rgba(23, 100, 194, 0.7), rgba(41, 179, 132, 0.7)), url(../images/newsletter/newsletter-bg@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .newsletter {
    background: linear-gradient(to left, rgba(23, 100, 194, 0.7), rgba(41, 179, 132, 0.7)), url(../images/newsletter/newsletter-bg@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.newsletter__title {
  margin-bottom: 1.875rem;
  max-width: 46.125rem;
  color: var(--white);
}
.newsletter__text {
  margin-bottom: 1.875rem;
  max-width: 43.125rem;
}
.newsletter__form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .newsletter__form {
    gap: calc(10px + 20 * (100vw - 320px) / 880);
  }
}
.newsletter__form-input {
  width: 16.875rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.125rem;
}
.newsletter__form-input ::-moz-placeholder {
  color: var(--gray-bright);
}
.newsletter__form-input ::placeholder {
  color: var(--gray-bright);
}
.newsletter__form-button {
  width: 16.875rem;
}
@media screen and (width < 1199.99px) {
  .newsletter__title, .newsletter__text {
    text-align: center;
    margin: 0 auto 1.875rem auto;
  }
  .newsletter__form {
    justify-content: center;
  }
}
@media screen and (width < 886.99px) {
  .newsletter__form {
    flex-direction: column;
  }
}

.blog {
  padding-bottom: 4.375rem;
  background-image: url(../images/blog/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog__list {
  display: flex;
  gap: 1.875rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.blog__item {
  width: 16.875rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .blog__item:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  }
}
.blog__post-card {
  background-color: var(--white);
  border-radius: 0.125rem;
}
.blog__inner-img {
  position: relative;
  width: 16.875rem;
  height: 10.625rem;
  border-radius: 0.125rem;
}
.blog__img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog__content {
  padding: 1.25rem;
}
.blog__post-title {
  margin-bottom: 0.625rem;
  height: 4.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.blog__post-excerpt {
  margin-bottom: 0.625rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.blog__button {
  width: 14.375rem;
}

.footer {
  padding: 2.5rem 0;
  color: var(--gray);
  background-color: var(--white);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__nav-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer__nav-link {
  font-weight: 500;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .footer__nav-link:hover, .footer__nav-link:focus {
    color: var(--accent);
  }
}
.footer__copyright {
  font-size: 0.75rem;
  line-height: 1.5;
}
.footer__address {
  color: var(--black);
}
.footer__phone-list {
  margin-bottom: 1.875rem;
}
.footer__phone-item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__phone-link {
  text-align: right;
  font-style: normal;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .footer__phone-link:hover {
    color: var(--accent);
  }
}
.footer__phone-link--svgphone {
  position: relative;
}
.footer__phone-link--svgphone::before {
  position: absolute;
  content: url(../images/icons/phone-icon-green.svg);
  width: 1.5rem;
  height: 1.5rem;
  left: 1.625rem;
}
.footer__link-mail {
  font-style: normal;
  position: relative;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .footer__link-mail:hover {
    color: var(--accent);
  }
}
.footer__link-mail::before {
  position: absolute;
  content: url(../images/icons/mail-green.svg);
  width: 1.5rem;
  height: 1.5rem;
  left: -1.9375rem;
}
@media screen and (width < 920.99px) {
  .footer__inner {
    flex-direction: column;
    justify-content: center;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__nav {
    margin-bottom: 1.875rem;
  }
  .footer__phone-link {
    text-align: center;
  }
  .footer__phone-link--svgphone::before {
    left: -0.5rem;
  }
  .footer__copyright {
    text-align: center;
  }
}
@media screen and (width < 480.99px) {
  .footer__nav-list {
    flex-direction: column;
  }
}

.breadcrumbs {
  padding: 1.25rem 0;
}
.breadcrumbs__item {
  display: inline-block;
  font-size: 0.75rem;
  padding-right: 0.875rem;
  margin-right: 0.5rem;
  position: relative;
}
.breadcrumbs__item::after {
  position: absolute;
  content: "";
  background-image: url(../images/icons/icon-right.svg);
  width: 0.375rem;
  height: 0.375rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__nolink {
  color: var(--gray-bright);
}
@media screen and (width < 980.01px) {
  .breadcrumbs__inner {
    overflow-x: scroll;
  }
}

.company__inner {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}
.company__descr {
  max-width: 35.625rem;
}
.company__title {
  margin-bottom: 1.25rem;
  font-size: 40px;
  line-height: 1.2;
}
@media screen and (max-width: 1200px) {
  .company__title {
    font-size: calc(28px + 12 * (100vw - 320px) / 880);
  }
}
.company__text {
  color: var(--gray);
}
.company__text:not(:last-child) {
  margin-bottom: 0.625rem;
}
.company__bg {
  background-image: url(../images/company/bg@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .company__bg {
    background: url(../images/company/bg@2x.jpg) no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .company__bg {
    background: url(../images/company/bg@3x.jpg) no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.company__images {
  position: relative;
  width: 550px;
  height: 470px;
}
@media screen and (max-width: 620px) {
  .company__images {
    width: calc(250px + 300 * (100vw - 320px) / 300);
  }
}
@media screen and (max-width: 620px) {
  .company__images {
    height: calc(170px + 300 * (100vw - 320px) / 300);
  }
}
.company__images::before {
  position: absolute;
  content: "";
  background-image: url(../images/company/company-image@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 100%;
  height: 470px;
  top: 1.25rem;
  left: -1.25rem;
}
@media screen and (max-width: 620px) {
  .company__images::before {
    height: calc(170px + 300 * (100vw - 320px) / 300);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .company__images::before {
    background: url(../images/company/company-image@2x.jpg) no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .company__images::before {
    background: url(../images/company/company-image@3x.jpg) no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
@media screen and (width < 1000.99px) {
  .company__inner {
    flex-direction: column;
  }
  .company__descr {
    max-width: 100%;
  }
}
@media screen and (width < 620.99px) {
  .company__descr {
    max-width: 100%;
  }
}

.wearedoing {
  margin-top: 6.25rem;
  background: var(--linear, linear-gradient(233deg, #165EBF -13.52%, #29B384 76.05%));
  color: var(--white);
}
.wearedoing__inner {
  padding: 5rem 0 2.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}
.wearedoing__images {
  max-width: 35.625rem;
}
.wearedoing__descr {
  max-width: 35.625rem;
}
.wearedoing__title {
  margin-bottom: 1.25rem;
  color: var(--white);
}
.wearedoing__text:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media screen and (width < 880.99px) {
  .wearedoing__inner {
    flex-direction: column;
  }
}

.our-advantages {
  padding-bottom: 5rem;
}
.our-advantages__content {
  margin-bottom: 2.5rem;
  display: flex;
  gap: 0.9375rem;
  justify-content: space-between;
}
.our-advantages__title {
  width: 23.125rem;
}
.our-advantages__text {
  width: 48.125rem;
}
@media screen and (width < 530.99px) {
  .our-advantages__content {
    flex-direction: column;
    text-align: center;
  }
  .our-advantages__title {
    width: 100%;
  }
  .our-advantages__text {
    width: 100%;
  }
}

.articles {
  margin-bottom: 5rem;
}
.articles__title {
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .articles__title {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 880);
  }
}
.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}
.articles__item {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--white);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .articles__item:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  }
}
.articles__post-card {
  width: 100%;
}
.articles__inner-img {
  position: relative;
  width: 100%;
  height: 14.375rem;
  border-radius: 0.125rem;
}
.articles__img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.articles__content {
  padding: 1.25rem;
}
.articles__post-title {
  margin-bottom: 0.625rem;
  height: 5.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.articles__post-excerpt {
  margin-bottom: 1.25rem;
  height: 9rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.articles__button {
  max-width: 20.625rem;
  width: 100%;
}
.articles__pagination {
  display: flex;
  justify-content: center;
  gap: 0.0625rem;
}
.articles__pagination-item {
  background-color: var(--white);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .articles__pagination-item {
    width: calc(32px + 16 * (100vw - 320px) / 880);
  }
}
@media screen and (max-width: 1200px) {
  .articles__pagination-item {
    height: calc(32px + 16 * (100vw - 320px) / 880);
  }
}
.articles__pagination-item.active {
  background-color: var(--accent);
  color: var(--white);
}
.articles__pagination-link {
  padding: 1.125rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .articles__pagination-link:hover {
    color: var(--accent);
  }
  .articles__pagination-link:hover svg {
    color: var(--accent);
  }
}
.articles__pagination-link svg {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width < 1199.99px) {
  .articles__item {
    flex-basis: 23.125rem;
  }
}
@media screen and (width < 400.99px) {
  .articles__item {
    flex-basis: 18.125rem;
    width: 100%;
  }
  .articles__inner-img {
    height: 11.25rem;
  }
}

.articles-card {
  padding-bottom: 5rem;
}
.articles-card__title {
  margin-bottom: 1.25rem;
}
.articles-card__img {
  margin-bottom: 1.25rem;
}
.articles-card__text {
  margin-bottom: 1.25rem;
}
.articles-card__item {
  margin-bottom: 1.25rem;
}
.articles-card__subtitle {
  margin-bottom: 1.25rem;
}
.articles-card__descr:not(:last-child) {
  margin-bottom: 1.25rem;
}
.articles-card__descr_item {
  margin-bottom: 1.25rem;
}
.articles-card__descr_item:before {
  content: url(../images/icons/li-ellipse.svg);
  width: 0.5rem;
  height: 0.5rem;
  padding-right: 0.625rem;
}
.articles-card__pagination {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.contacts {
  padding-bottom: 5rem;
}
.contacts__main {
  background: var(--linear, linear-gradient(233deg, #165EBF -13.52%, #29B384 76.05%));
}
.contacts__title {
  margin-bottom: 2.5rem;
  color: var(--white);
}
.contacts__list {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}
.contacts__item {
  background-color: var(--white);
  padding: 1.875rem 1.25rem 1.875rem 1.5rem;
  flex-basis: calc((100% - 90px) / 4);
  height: 15.1875rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .contacts__item:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  }
}
.contacts__subtitle {
  margin-bottom: 0.9375rem;
}
.contacts__phone-list {
  margin-bottom: 0.625rem;
}
.contacts__phone-link {
  padding-left: 1.75rem;
  font-style: normal;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .contacts__phone-link:hover {
    color: var(--accent);
  }
}
.contacts__phone-link--svgphone {
  position: relative;
}
.contacts__phone-link--svgphone::before {
  position: absolute;
  content: url(../images/icons/phone-icon-green.svg);
  width: 1.125rem;
  height: 1.125rem;
  left: 0;
}
.contacts__address-item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.contacts__address-link {
  max-width: 12.375rem;
  padding-left: 1.75rem;
  font-style: normal;
  position: relative;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .contacts__address-link:hover {
    color: var(--accent);
  }
}
.contacts__address-link--svglocation::before {
  position: absolute;
  content: url(../images/icons/location.svg);
  width: 1.125rem;
  height: 1.125rem;
  left: 0;
}
.contacts__address-link-mail {
  padding-left: 1.75rem;
  font-style: normal;
  position: relative;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .contacts__address-link-mail:hover {
    color: var(--accent);
  }
}
.contacts__address-link-mail--svgmail::before {
  position: absolute;
  content: url(../images/icons/contact-mail.svg);
  width: 1.125rem;
  height: 1.125rem;
  left: 0;
  bottom: 0.125rem;
}
@media screen and (width < 1084.99px) {
  .contacts__list {
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .contacts__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (width < 880.99px) {
  .contacts__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (width < 588.99px) {
  .contacts__item {
    flex-basis: 16.875rem;
  }
}/*# sourceMappingURL=style.css.map */