@use 'sass:math';

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

// REM
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

// EM
@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}

// TO %
@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}


ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}


body {
    font-family: 'SFUIText';
    font-size: rem(16);
    // @include adaptivevalue(font-size, 18, 16, 1620, 320, 1);
    line-height: 1.5;
    color: var(--black);
    // overflow-x: hidden;
    min-width: 100vw;
    background: #F7F7F8;
}

button {
    display: inline-block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

::marker {
    margin-top: 10px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
    opacity: .5;

    @media (any-hover: hover) {
        &:hover {
            svg {
                color: inherit;
            }
        }
    }
}


// ul.products__list>li.products__item*4>div.products__wrapp>img.products__item-img[src=images/products-$.jpg]+p.products__item-price{10$}+h3.title-h3+p.products__item-text+button.products__button-button{Купити}
// .wrapper {
//     display: flex;
//     flex-direction: column;
//     min-height: 100%;
// }

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    overflow-x: clip;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


// .hr-line {
//     border-bottom: 1px solid var(--black);
// }
// .images-bg {
// background: url(../images/footer@1x.png);
// padding-top: 900px;
// background-size: cover;
// background-position: center;
// background-repeat: no-repeat;

// @media screen and (min-device-pixel-ratio: 2),
// screen and (-webkit-min-device-pixel-ratio: 2),
// screen and (-o-mini-device-pixel-ratio: 2/1),
// screen and (min-resolution: 192dpi),
// screen and (min-resolution: 2dppx) {
//   background: url(../images/footer@2x.png);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }
// }

.section {
    padding-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    // padding-bottom: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    // @include adaptivevalue(padding-top, 40, 20, 1200, 320, 1);
    // @include adaptivevalue(padding-bottom, 40, 20, 1200, 320, 1);
    // outline: 1px solid red;
}


.flex {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: rem(10);
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}




// .mobile-overflow {
//     margin-block-end: 10px;
//     width: rem(1000);

// }

.error {
    @include transition ($transition-property: opacity);
    opacity: 0;
    color: red;
}

.js-alert {
    position: absolute;
    min-width: 290px;
    text-align: center;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    transform: translateX(100vw);
    padding: 20px 10px;
    color: var(--white);
    background-color: var(--accent);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    @include transition ($transition-property: transform)
}


//  Навигация, кнопка, counter в SimpleLightbox
.sl-wrapper {

    .sl-close,
    .sl-counter,
    .sl-navigation button {
        color: var(--white);
    }
}



// &--disabled {
//   color: var(--gray-bright);
//   cursor: not-allowed;
// }

.is-hidden {
    visibility: hidden;
    cursor: pointer;
    // @include transition ($transition-property: visibility)
}


.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    gap: 10px;
    text-align: center;
}

/* Стили текста загрузки */
.loading-spinner p {
    font-size: 24px;
    color: var(--accent);
    margin: 0;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--accent);
    /* Цвет верхней части */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    pointer-events: none;
    // @include transition ($transition-property: opacity);
    transition: opacity 0.3s ease;
}

.glightbox-counter {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 16px;
    background: rgba(89, 219, 241, 0.8);
    padding: 5px 12px;
    border-radius: 8px;
    z-index: 2147483647;
    /* максимальный безопасный z-index */
    pointer-events: none;
    /* чтобы не мешал кликам */
}

// .ginner-container {
//     background: rgba(89, 219, 241, 0.8) !important;
// }

.glightbox-container .gslider {
    background: rgba(89, 219, 241, 0.8) !important;
}