.aside {
  padding: rem(20);
  background-color: var(--white);
  border-radius: rem(2);
  max-width: rem(270);
  width: 100%;
  @include transition ($transition-property: all);

  &__btn {
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: rem(20);
  }

  &__form {
    height: 60vh;
    overflow-y: scroll;
    scrollbar-width: none;
    cursor: url(/images/icons/scroll.svg), auto;
  }

  &__filtr-btn {
    width: rem(230);
    margin-top: rem(20);
  }

  &__form-item {
    border: none;
    margin-block-start: 30px;
    margin-inline: 0;
    padding-inline: 0;
    padding-block: 0;
  }

  &__form-title {
    font-weight: 500;
    margin-bottom: rem(10);

    &--marginbottom {
      margin-bottom: rem(10);
    }
  }

  &__form-content {
    position: relative;
  }

  &__form-content-box {
    overflow: hidden;
    @include transition ($transition-property: (transform, opacity));
    opacity: 1;
    transform: translateY(0%);
    position: static;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__form-content-box.hidden {
    transform: translateY(-150%);
    opacity: 0;
    position: absolute;
    pointer-events: none;

  }

  &__form-filter-more-btn {
    // margin-block-start: 40px;
    color: var(--accent);
    font-size: 0.875rem;
    border-bottom: 1px solid var(--accent);
  }

}




.jq-checkbox,
.jq-radio {
  width: rem(18);
  height: rem(18);
  background: var(--white);
  box-shadow: none;

  vertical-align: rem(-2);
  border-radius: rem(4);
  margin: 0 rem(10) 0 0;
  border: rem(1) solid var(--gray-bright);
}


.jq-checkbox.checked,
.jq-radio.checked {
  background: var(--accent);
  border: rem(1) solid transparent;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: rem(12);
  height: rem(10);
  // margin: rem(3) rem(3) 0 rem(3);
  border: none;
  transform: rotate(0);
  background-image: url(../images/icons/checked.svg);
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  background: var(--accent);
  border-radius: none;
  box-shadow: none;
}

.jq-checkbox.focused,
.jq-radio.focused {
  border: rem(1) solid var(--black);
}