.blog {
    padding-top: clamp(3.125rem, 2.443rem + 3.41vw, 5rem);
    padding-bottom: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);
    background: image-set(url(../images/blog/bg@1x.avif) type("image/avif") 1x,
            url(../images/blog/bg@2x.avif) type("image/avif") 2x,
            url(../images/blog/bg@3x.avif) type("image/avif") 3x,
            url(../images/blog/bg@1x.webp) type("image/webp") 1x,
            url(../images/blog/bg@2x.webp) type("image/webp") 2x,
            url(../images/blog/bg@3x.webp) type("image/webp") 3x,
            url(../images/blog/bg@1x.png) 1x,
            url(../images/blog/bg@2x.png) 2x,
            url(../images/blog/bg@3x.png) 3x) center / cover no-repeat;


    &__list {
        display: flex;
        gap: rem(30);
        flex-wrap: wrap;
    }

    &__item {
        width: rem(270);
        @include transition ($transition-property: box-shadow);

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
            }
        }

    }

    &__post-card {
        background-color: var(--white);
        border-radius: rem(2);
    }

    &__inner-img {
        position: relative;
        width: rem(270);
        height: rem(170);
        border-radius: rem(2);
    }

    &__img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__content {
        padding: rem(20);
    }

    &__post-title {
        margin-bottom: rem(10);
        height: rem(72);

        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__post-excerpt {
        margin-bottom: rem(10);
        display: -webkit-box;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__button {
        width: rem(230);
    }

    @media screen and (width <=900px) {
        &__list {
            justify-content: space-evenly;
        }
    }
}