.buttons {

  // width: 100%;
  height: rem(48);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
  padding: rem(13) rem(28);

  color: var(--white);
  background-color: var(--accent);
  @include adaptivevalue(font-size, 16, 14, 1440, 320, 1);
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  border: 2px solid transparent;
  @include transition ($transition-property: (background-color, color, border));

  @media (any-hover: hover) {
    &:hover {
      color: var(--accent);
      background-color: var(--white);
      border-radius: rem(2);
      border: 2px solid var(--accent, #29B384);
    }
  }
}

.buttons-more {
  color: var(--accent, #29B384);
  text-align: right;
  @include adaptivevalue(font-size, 16, 14, 1200, 320, 1);
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.4;

  @include transition ($transition-property: text-decoration);

  &::after {
    content: url(../images/icons/arrow-more.svg);
    margin-left: rem(3);
  }

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }

  // &--disabled {
  //   color: var(--gray-bright);
  //   cursor: not-allowed;
  // }
}