.buttons {

  // width: 100%;
  height: rem(48);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
  padding: rem(13) rem(28);

  color: var(--accent);
  background-color: var(--white);
  @include adaptivevalue(font-size, 16, 14, 1440, 320, 1);
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  @include transition ($transition-property: (background-color, color));

  @media (any-hover: hover) {
    &:hover {
      color: var(--white);
      background-color: var(--accent);
    }
  }
}




.buttons--black {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 20px 0px rgba(41, 40, 38, 0.43);

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 45px 0px rgba(41, 40, 38, 0.43);
      text-decoration: underline;
    }
  }
}

.buttons--accent {
  background: #E8AA31;
  box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.43);

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 45px 0px rgba(232, 170, 49, 0.43);
      text-decoration: underline;
    }
  }
}