.counter {
  margin-top: rem(17);
  margin-bottom: rem(20);
  // @include adaptivevalue(width, 204, 106, 1200, 320, 1);
  // @include adaptivevalue(height, 48, 40, 1200, 320, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(20);


  .up,
  .down {
    width: rem(50);
    height: rem(50);
    padding: rem(14);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem(20);
    color: var(--white);
    background-color: var(--accent);

    border: rem(1) solid transparent;
    border-radius: rem(2);
    // display: block;
    // padding-top: rem(10);
    // padding-bottom: rem(10);
    // @include adaptivevalue(padding-left, 20, 10, 1620, 320, 1);
    // @include adaptivevalue(padding-right, 20, 10, 1620, 320, 1);
    cursor: pointer;
    -webkit-user-select: none; // Запрещает выделение */
    user-select: none;
    @include transition ($transition-property: (background-color, color, border));

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
        background-color: var(--white);
        border: rem(1) solid var(--accent);
      }
    }
  }

  &__input {
    width: rem(68);
    @include adaptivevalue(height, 50, 40, 1620, 320, 1);
    appearance: none;
    background-color: var(--white);
    text-align: center;

    border: rem(1) solid var(--gray-bright);
    border-radius: rem(2);
  }
}