.header {
  background-color: var(--white);

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include adaptivevalue(gap, 30, 10, 890, 320, 1);
    gap: rem(30);
  }

  &__logo {
    @include adaptivevalue(margin-right, 20, 5, 1440, 320, 1);
  }

  &__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: rem(15);
    justify-content: space-between;
  }


  &__nav-link {
    padding: rem(28) rem(10);
  }

  &__lang {
    margin-right: rem(20);
  }

  &__phone {
    margin-left: rem(20);
  }

  &__search-btn {
    margin-left: rem(20);
  }

  &__basket {
    margin-left: rem(16);
  }

  @media screen and (width < 1022.99px) {

    &__box {
      padding: rem(25) 0;
    }



    &__basket {
      margin-left: 0;
    }

    &__phone {
      margin-left: rem(0);
    }

    &__search-btn {
      margin-left: rem(0);
    }

    &__basket {
      margin-left: rem(0);
    }
  }

  @media screen and (width < 890.99px) {
    &__box {
      flex-wrap: nowrap;
    }

    &__inner {
      justify-content: space-evenly;
    }
  }
}