.hero {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);

    z-index: 2;

    background-image: image-set(url(../images/hero/d-hero@1x.avif) type("image/avif") 1x,
            url(../images/hero/d-hero@2x.avif) type("image/avif") 2x,
            url(../images/hero/d-hero@3x.avif) type("image/avif") 3x,
            url(../images/hero/d-hero@1x.webp) type("image/webp") 1x,
            url(../images/hero/d-hero@2x.webp) type("image/webp") 2x,
            url(../images/hero/d-hero@3x.webp) type("image/webp") 3x,
            url(../images/hero/d-hero@1x.jpg) 1x,
            url(../images/hero/d-hero@2x.jpg) 2x,
            url(../images/hero/d-hero@3x.jpg) 3x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
        background-image: image-set(url(../images/hero/l-hero@1x.avif) type("image/avif") 1x,
                url(../images/hero/l-hero@2x.avif) type("image/avif") 2x,
                url(../images/hero/l-hero@3x.avif) type("image/avif") 3x,
                url(../images/hero/l-hero@1x.webp) type("image/webp") 1x,
                url(../images/hero/l-hero@2x.webp) type("image/webp") 2x,
                url(../images/hero/l-hero@3x.webp) type("image/webp") 3x,
                url(../images/hero/l-hero@1x.jpg) 1x,
                url(../images/hero/l-hero@2x.jpg) 2x,
                url(../images/hero/l-hero@3x.jpg) 3x);
    }

    @media screen and (max-width: 768px) {
        background-image: image-set(url(../images/hero/m-hero@1x.avif) type("image/avif") 1x,
                url(../images/hero/m-hero@2x.avif) type("image/avif") 2x,
                url(../images/hero/m-hero@3x.avif) type("image/avif") 3x,
                url(../images/hero/m-hero@1x.webp) type("image/webp") 1x,
                url(../images/hero/m-hero@2x.webp) type("image/webp") 2x,
                url(../images/hero/m-hero@3x.webp) type("image/webp") 3x,
                url(../images/hero/m-hero@1x.jpg) 1x,
                url(../images/hero/m-hero@2x.jpg) 2x,
                url(../images/hero/m-hero@3x.jpg) 3x);
    }

    &::after {
        position: absolute;
        inset: 0;
        content: "";
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;
        // background: linear-gradient(90deg, rgba(30, 42, 93, 0.45) 0%, rgba(42, 57, 118, 0.45) 37.29%, rgba(60, 80, 156, 0.45) 69.94%, rgba(73, 95, 186, 0.45) 100%);
        background: var(--linear);
        // background: linear-gradient(90deg, rgba(30, 42, 93, 0.45) 0%, rgba(42, 57, 118, 0.45) 37.29%, rgba(60, 80, 156, 0.45) 69.94%, rgba(73, 95, 186, 0.45) 100%), rgba(0, 0, 0, 0.2);
        opacity: 0.7;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: rem(30) rem(15);
    }

    &__content {
        padding-top: rem(40);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: rem(572);
        z-index: 2;
    }

    &__title {
        font-size: rem(48);
        line-height: 1.2;
        font-variant: small-caps;
        margin-bottom: rem(18);
    }

    &__text {
        margin-bottom: rem(30);
    }

    &__button {
        width: rem(260);
    }

    &__partners {
        z-index: 2;
    }

    @media screen and (width < 825.01px) {
        &__inner {
            flex-direction: column;
            align-items: center;
        }


        &__content {
            width: 100%;
            align-items: center;
            text-align: center;
        }
    }
}