.logo {
  &__img-mobile {
    display: none;
  }

  @media screen and (width < 1017.99px) {
    &__img-mobile {
      display: block;
      max-width: rem(31);
      width: 100%;
    }

    &__img-desc {
      display: none;
    }
  }
}