.menu {
    &__btn {
        display: none;
    }

    @media screen and (width < 825.01px) {

        &__btn {
            position: relative;
            display: inline-block;
            max-width: rem(18);
            width: 100%;
            height: rem(14);
            background: transparent;
            order: 1;
            border: none;
            padding: 0;
            z-index: 2;
            transition: .3s ease;
            gap: rem(5);
            margin-left: rem(10);


            &:hover &-line {
                background: var(--accent);
            }

            &-line {
                position: absolute;
                left: 0;
                width: 100%;
                height: rem(2);
                border-radius: rem(2);
                background: var(--black);
                transition: .3s ease;

                &:nth-child(1) {
                    top: rem(0);
                }

                &:nth-child(2) {
                    top: rem(6);
                }

                &:nth-child(3) {
                    top: rem(6);
                }

                &:nth-child(4) {
                    top: rem(12);
                }
            }

        }

        &-open &__btn-line:nth-child(1) {
            transform: scaleX(0);
        }

        &-open &__btn-line:nth-child(2) {
            transform: rotate(45deg);
        }

        &-open &__btn-line:nth-child(3) {
            transform: rotate(-45deg);
        }

        &-open &__btn-line:nth-child(4) {
            transform: scaleX(0);
        }

        // &-open .menu {
        //     transform: translateY(0%);
        // }
    }
}