.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;


  &__item {
    background-color: var(--white);
    @include transition ($transition-property: (background-color, color));
  }

  &__item.active {
    background-color: var(--accent);
    color: var(--white);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptivevalue(width, 48, 32, 1200, 320, 1);
    @include adaptivevalue(height, 48, 32, 1200, 320, 1);
    @include transition ($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        svg {
          color: var(--accent);
        }
      }
    }

    &:focus {
      outline: 2px solid var(--accent);
      outline-offset: 2px;
    }

    // &[disabled] {
    //   pointer-events: none;
    //   opacity: 0.5;
    // }
  }



  &__link svg {
    @include transition ($transition-property: color);
  }
}