.phone {
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    @include transition($transition-property: all);
    // transition-duration: 450ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    display: flex;
    align-items: center;
    @include adaptivevalue(gap, 8, 3, 800, 320, 1);

    // font-variant: all-small-caps;
    @include adaptivevalue(font-size, 16, 14, 1440, 320, 1);
    color: var(--black);
    @include transition($transition-property: color);

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }

      &:hover .phone__svg {
        fill: var(--accent);
      }
    }

    // &:hover,
    // &:focus,
    // &:active {
    //   color: var(--accent);
    // }
  }

  &__arrow:hover {
    .phone__arrow-svg {
      fill: var(--accent);
    }
  }

  &__arrow-svg {
    @include transition ($transition-property: fill);
    // fill: inherit;
  }

  &__arrow {
    margin-left: rem(5);
  }

  &__arrow.active {
    rotate: 180deg;
  }

  &__list {
    display: none;
  }

  &__list.active {
    background: var(--white);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    padding: rem(25) rem(33) rem(20) rem(20);
    position: absolute;
    top: rem(35);
    right: rem(-10);
    z-index: 1;
    display: block;
    @include transition ($transition-property: all);

    &::before {
      content: "";
      position: absolute;
      top: rem(-10);
      right: rem(7);

      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top: none;
      border-bottom: 10px solid var(--white);
      box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.14);
      filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
    }
  }

  & li:not(:last-child) {
    margin-bottom: rem(11);
  }

  @media screen and (width < 480.01px) {

    &__svg {
      @include adaptivevalue(width, 24, 18, 480, 320, 1);
    }
  }
}