.popular {

  // @include adaptivevalue(padding-top, 80, 20, 1200, 320, 1);
  padding-top: clamp(1.25rem, -0.114rem + 6.82vw, 5rem);
  // @include adaptivevalue(padding-bottom, 40, 20, 1200, 320, 1);

  &__item {
    @include transition ($transition-property: box-shadow);

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
        // box-shadow: 0 75px 97px rgba(0, 0, 0, .02275), 0 37.9688px 42.2859px rgba(0, 0, 0, .035), 0 15px 15.7625px rgba(0, 0, 0, .04725), 0 3.28125px 5.60781px rgba(0, 0, 0, .07), 0 75px 97px rgba(0, 0, 0, .02275), 0 37.9688px 42.2859px rgba(0, 0, 0, .035), 0 15px 15.7625px rgba(0, 0, 0, .04725), 0 3.28125px 5.60781px rgba(0, 0, 0, .07);
        transform: translateY(-14px);
      }
    }
  }

  &__slider.swiper {
    @media screen and (width > 885px) {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
    }
  }

  &__slider-dotts {
    margin-top: rem(20);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--accent) !important;

  }


  .swiper-pagination-bullet {
    @include adaptivevalue(height, 15, 10, 1200, 320, 1);
    @include adaptivevalue(width, 15, 10, 1200, 320, 1);
    opacity: 1;
    background-color: var(--gray-bright);
    transition: all 0.3s ease 0s;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none; // Запрещает выделение */
    user-select: none; // Запрещает выделение */
    outline: none; // Убирает обводку фокуса */

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;
    }
  }

  @media screen and (width < 1199.99px) {
    &__slider {
      width: rem(885);
    }
  }

  @media screen and (width < 885px) {
    &__slider {
      width: rem(570);
    }
  }

  @media screen and (width < 600px) {
    &__slider {
      width: rem(270);
    }
  }
}