.products-card {

  &__list {
    display: flex;
    // height: 100%;
    align-items: stretch;
    justify-content: space-between;
    /* Растягиваем элементы по высоте */
    // gap: rem(30);

  }

  &__item {
    border-radius: 2px;
    background: var(--white);
    // flex-basis: calc((100% - 90px) / 4);
    width: rem(270);


    flex: 1 1 auto;
    /* Растягиваем элементы по высоте */
    display: flex;
    /* Если внутри есть дочерние элементы, они тоже будут растягиваться */
    flex-direction: column;
    /* Для вертикального выравнивания содержимого */

  }

  &__box {
    position: relative;
    width: rem(270);
    padding: rem(16);
    display: flex;
    flex-direction: column;
    // height: 100%;
    flex: 1 1 auto;

  }

  &__img-cover {
    overflow: hidden;
    height: rem(130);
  }

  &__img {
    @include transition ($transition-property: scale);
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: rem(16);
    align-items: flex-start;
    margin-block-end: 20px;
  }

  &__title {
    height: rem(88);
  }

  &__application {
    margin-top: rem(8);
    margin-bottom: rem(15);
    color: var(--gray, #40474F);
    font-size: rem(14);

    height: rem(80);
  }

  &__price {
    display: inline-block;
    // margin-right: rem(10);
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.4;

    &-wrapper {
      height: 60px;
    }
  }

  // &__price--sale {
  //   margin-right: rem(2);
  //   color: var(--red);
  // }

  // &__sale {
  //   display: inline-block;
  //   margin-right: rem(2);
  //   text-decoration: line-through;
  //   color: var(--gray_bright, #ACB7C5);
  //   font-size: rem(12);
  // }


  &__discount {
    display: inline-block;
    color: var(--gray_bright, #ACB7C5);
    font-size: rem(12);
    line-height: 1.5;
  }

  &__btn {
    margin-top: auto;
    max-width: rem(238);
    width: 100%;
  }

  .swiper-slide {
    height: 100%;
    /* Растягиваем слайды на всю высоту контейнера */
    display: flex;
    flex-direction: column;
    /* Для вертикального выравнивания содержимого */
  }
}