.tabs {
  display: inline-block;
  // margin-right: rem(50);

  &__overflow {
    // overflow-x: hidden;
  }

  &__content-title {
    font-size: rem(20);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: rem(24);

  }

  &__content-item {
    // display: none;

    // opacity: 0;
    // visibility: hidden;
    // transition: opacity 0.3s ease, visibility 0.3s ease;
    // height: 0;
    // overflow: hidden;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  &__content-item.active {
    // display: block;
    // opacity: 1;
    // visibility: visible;
    // height: auto;
    // overflow: visible;

    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: static;
  }

  &__link {
    position: relative;
    padding: rem(14);
    color: var(--gray);
    text-align: center;
    text-transform: uppercase;

    border: 2px solid var(--gray);
    border-bottom: none;
    @include transition ($transition-property: all);

    &--bordertopleft {
      border-top-left-radius: rem(5);
    }

    &--bordertopright {
      border-top-right-radius: rem(5);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--accent);
      }
    }
  }

  @media screen and (width < 770.01px) {
    &__overflow {
      overflow-x: scroll;
    }
  }

  &__content-item-thickness {
    display: flex;
    @include adaptivevalue(gap, 180, 20, 1200, 320, 1);

    align-items: center;
    margin-bottom: rem(40);
    font-size: calc(11px + 5 * (100vw - 320px) / 880);

    .card-product__list-desc {
      justify-content: space-between;

      dd {
        align-self: center;
      }
    }
  }



  &__content-application {
    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 50, 20, 1200, 320, 1);
    }

    &-item {
      padding-bottom: rem(10);
      border-bottom: rem(.5) solid var(--gray-bright);

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }


}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.search__content-item.tabs__content--active {
  display: block;
}